<!-- addOrder Modal start  -->
<div class="modal fade" id="addOrder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid py-5">
                    <div class="container-fluid">
                        <div class="row g-0 gx-5 align-items-end">
                            <form action="/admin/create-Order" method="post">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        Customer Details
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <label>Full Name</label>
                                                                <input type="text" name="fullName"
                                                                    class="form-control" />
                                                            </div>
                                                            <div class="col-6">
                                                                <label>Email</label>
                                                                <input type="email" name="email" class="form-control" />
                                                            </div>
                                                            <div class="col-6">
                                                                <label>Primary Contact Number</label>
                                                                <input type="number" name="primaryContact"
                                                                    class="form-control" />
                                                            </div>
                                                            <div class="col-6">
                                                                <label>Alternate Contact Number</label>
                                                                <input type="number" name="alternetContact"
                                                                    class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 mt-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        Shipping Address
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <label>Address</label>
                                                                <textarea name="shippingAddress" id="shippingAddress"
                                                                    class="form-control"></textarea>
                                                            </div>
                                                            <div class="col-6">
                                                                <label>City</label>
                                                                <input type="text" name="shippingCity" id="shippingCity"
                                                                    class="form-control" />
                                                            </div>
                                                            <div class="col-6">
                                                                <label>Pincode</label>
                                                                <input type="number" name="shippingPincode"
                                                                    id="shippingPincode" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 mt-4">
                                                <div class="card">
                                                    <div class="card-header">Billing Address
                                                        <input type="checkbox" onclick=" autofill()"
                                                            name="fillSameAddress" id="fillSameAddress"><span>same as
                                                            shipping
                                                            address</span>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <label>Address</label>
                                                                <textarea name="billingAddress" id="billingAddress"
                                                                    class="form-control"></textarea>
                                                            </div>
                                                            <div class="col-6">
                                                                <label>City</label>
                                                                <input type="text" name="billingCity" id="billingCity"
                                                                    class="form-control" />
                                                            </div>
                                                            <div class="col-6">
                                                                <label>Pincode</label>
                                                                <input type="number" name="billingPincode"
                                                                    id="billingPincode" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="table-responsive">
                                                    <!-- <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>S.No</th>
                                                                        <th>Title</th>
                                                                        <th>Price</th>
                                                                        <th>Quantity</th>
                                                                        <th>Total</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                        
                                                                    <tr>
                                                                        <td>
                                                                            <h5>1</h5>
                                                                        </td>
                                                                        <td>
                                                                            <h5>t-shert</h5>
                                                                        </td>
                                                                        <td>
                                                                            <h5>500</h5>
                                                                            <input type="hidden" name="productIds" value="" />
                                                                            <input type="hidden" name="productPrice" value="" />
                                                                            <input type="hidden" name="productQuantity" value="" />
                                                                        </td>
                                                                        <td>
                        
                                                                        </td>
                                                                        <td>
                        
                                                                        </td>
                                                                    </tr>
                        
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <div align="right">
                                                                            <th colspan="4">Grand Total</th>
                                                                        </div>
                        
                                                                        <th colspan="1">
                                                                            <h5>500</h5>
                                                                            <input type="hidden" name="grandTotal" value="" />
                                                                        </th>
                                                                    </tr>
                                                                </tfoot>
                                                            </table> -->
                                                </div>
                                                <div class="card">
                                                    <div class="card-header">
                                                        Payment Method
                                                    </div>
                                                    <div class="card-body">
                                                        <input type="radio" name="paymentMethod" value="googlePay"
                                                            id="googlePay">
                                                        <label for="">Google Pay</label>
                                                        <input type="radio" name="paymentMethod" value="phonePay"
                                                            id="phonePay">
                                                        <label for="">Phone Pay</label>
                                                        <input type="radio" name="paymentMethod" value="Paytm"
                                                            id="Paytm">
                                                        <label for="">Paytm</label>
                                                        <input type="radio" name="paymentMethod" value="COD" id="COD">
                                                        <label for="">Cash On Delivery</label>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
                <script>
                    function autofill() {
                        let shippingAddress = $('#shippingAddress').val();
                        let shippingCity = $('#shippingCity').val();
                        let shippingPincode = $('#shippingPincode').val();
                        $('#billingAddress').val(shippingAddress);
                        $('#billingCity').val(shippingCity);
                        $('#billingPincode').val(shippingPincode);
                    };
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- addOrder Modal end  -->

<!-- edit order Modal start  -->
<div class="modal fade" id="editorder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid py-5">
                    <div class="container-fluid">
                        <div class="row g-0 gx-5 align-items-end">
                            <form action="/admin/edit-Order" method="post">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        Customer Details
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <label>Full Name</label>
                                                                <input type="text" name="fullName"
                                                                    class="form-control" value="" />
                                                            </div>
                                                            <div class="col-6">
                                                                <label>Email</label>
                                                                <input type="email" name="email" class="form-control" />
                                                            </div>
                                                            <div class="col-6">
                                                                <label>Primary Contact Number</label>
                                                                <input type="number" name="primaryContact"
                                                                    class="form-control" />
                                                            </div>
                                                            <div class="col-6">
                                                                <label>Alternate Contact Number</label>
                                                                <input type="number" name="alternetContact"
                                                                    class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 mt-4">
                                                <div class="card">
                                                    <div class="card-header">
                                                        Shipping Address
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <label>Address</label>
                                                                <textarea name="shippingAddress" id="shippingAddress"
                                                                    class="form-control"></textarea>
                                                            </div>
                                                            <div class="col-6">
                                                                <label>City</label>
                                                                <input type="text" name="shippingCity" id="shippingCity"
                                                                    class="form-control" />
                                                            </div>
                                                            <div class="col-6">
                                                                <label>Pincode</label>
                                                                <input type="number" name="shippingPincode"
                                                                    id="shippingPincode" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12 mt-4">
                                                <div class="card">
                                                    <div class="card-header">Billing Address
                                                        <input type="checkbox" onclick=" autofill()"
                                                            name="fillSameAddress" id="fillSameAddress"><span>same as
                                                            shipping
                                                            address</span>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <label>Address</label>
                                                                <textarea name="billingAddress" id="billingAddress"
                                                                    class="form-control"></textarea>
                                                            </div>
                                                            <div class="col-6">
                                                                <label>City</label>
                                                                <input type="text" name="billingCity" id="billingCity"
                                                                    class="form-control" />
                                                            </div>
                                                            <div class="col-6">
                                                                <label>Pincode</label>
                                                                <input type="number" name="billingPincode"
                                                                    id="billingPincode" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="table-responsive">
                                                    <!-- <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>S.No</th>
                                                                        <th>Title</th>
                                                                        <th>Price</th>
                                                                        <th>Quantity</th>
                                                                        <th>Total</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                        
                                                                    <tr>
                                                                        <td>
                                                                            <h5>1</h5>
                                                                        </td>
                                                                        <td>
                                                                            <h5>t-shert</h5>
                                                                        </td>
                                                                        <td>
                                                                            <h5>500</h5>
                                                                            <input type="hidden" name="productIds" value="" />
                                                                            <input type="hidden" name="productPrice" value="" />
                                                                            <input type="hidden" name="productQuantity" value="" />
                                                                        </td>
                                                                        <td>
                        
                                                                        </td>
                                                                        <td>
                        
                                                                        </td>
                                                                    </tr>
                        
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <div align="right">
                                                                            <th colspan="4">Grand Total</th>
                                                                        </div>
                        
                                                                        <th colspan="1">
                                                                            <h5>500</h5>
                                                                            <input type="hidden" name="grandTotal" value="" />
                                                                        </th>
                                                                    </tr>
                                                                </tfoot>
                                                            </table> -->
                                                </div>
                                                <div class="card">
                                                    <div class="card-header">
                                                        Payment Method
                                                    </div>
                                                    <div class="card-body">
                                                        <input type="radio" name="paymentMethod" value="googlePay"
                                                            id="googlePay">
                                                        <label for="">Google Pay</label>
                                                        <input type="radio" name="paymentMethod" value="phonePay"
                                                            id="phonePay">
                                                        <label for="">Phone Pay</label>
                                                        <input type="radio" name="paymentMethod" value="Paytm"
                                                            id="Paytm">
                                                        <label for="">Paytm</label>
                                                        <input type="radio" name="paymentMethod" value="COD" id="COD">
                                                        <label for="">Cash On Delivery</label>
                                                        <input type="hidden" value="">
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
                <script>
                    function autofill() {
                        let shippingAddress = $('#shippingAddress').val();
                        let shippingCity = $('#shippingCity').val();
                        let shippingPincode = $('#shippingPincode').val();
                        $('#billingAddress').val(shippingAddress);
                        $('#billingCity').val(shippingCity);
                        $('#billingPincode').val(shippingPincode);
                    };
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- edit order Modal end  -->

<div class="card">
    <div class="card-header">
        <h3>All Orders List</h3>
    </div>
    <% if(status && message){ %>
        <h4 class="text text-danger">
            <%= message; %>
        </h4>
        <% } %>
    <div class="card-body">
        <div class="p-2 bd-highlight" align="right">
            <a href="/admin-add-product" class="btn-lg btn-info" data-bs-toggle="modal" data-bs-target="#addOrder">Add Order</a>
        </div>
        <br>
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">S.No.</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Primary No.</th>
                    <!-- <th scope="col">Alternet No.</th> -->
                    <th scope="col">Shipping Address</th>
                    <th scope="col">Shipping City</th>
                    <th scope="col">Shipping Pincode</th>
                    <!-- <th scope="col">Billing Address</th>
                    <th scope="col">Billing City</th>
                    <th scope="col">Billing Pincode</th> -->
                    <th scope="col">Payment Method</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < orders.length; i++){const order=orders[i] %>
                    <tr>
                        <th scope="row">
                            <h5>
                                <%= i + 1; %>
                            </h5>
                        </th>

                        <td>
                            <h5>
                                <%= order.full_name; %>
                            </h5>
                        </td>
                        <td>
                            <h5>
                                <%= order.email; %>
                            </h5>
                        </td>
                        <td>
                            <h5>
                                <%= order.primary_contact; %>
                            </h5>
                        </td>
                        <!-- <td>
                            <h5>
                                <%= order.alternet_contact; %>
                            </h5>
                        </td> -->
                        <td>
                            <h5>
                                <%= order.shipping_address; %>
                            </h5>
                        </td>
                        <td>
                            <h5>
                                <%= order.shipping_city; %>
                            </h5>
                        </td>
                        <td>
                            <h5>
                                <%= order.shipping_pincode; %>
                            </h5>
                        </td>
                        <!-- <td>
                            <h5>
                                <%= order.billing_address; %>
                            </h5>
                        </td>
                        <td>
                            <h5>
                                <%= order.billing_city; %>
                            </h5>
                        </td>
                        <td>
                            <h5>
                                <%= order.billing_pincode; %>
                            </h5>
                        </td> -->
                        <td>
                            <h5>
                                <%= order.payment_method; %>
                            </h5>
                        </td>
                        <td>
                            <h5>
                                <a href="#" class="btn btn-info" data-bs-toggle="modal"
                                data-bs-target="#editorder">Edit</a>
                                <a href="/admin/delete-order/<%= order.id; %>" class="btn btn-danger" onclick="return confirm('you want to delete order?')" >Delete</a>
                            </h5>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col">S.No.</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Primary No.</th>
                    <!-- <th scope="col">Alternet No.</th> -->
                    <th scope="col">Shipping Address</th>
                    <th scope="col">Shipping City</th>
                    <th scope="col">Shipping Pincode</th>
                    <!-- <th scope="col">Billing Address</th>
                    <th scope="col">Billing City</th>
                    <th scope="col">Billing Pincode</th> -->
                    <th scope="col">Payment Method</th>
                    <th scope="col">Action</th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>